manifest-1669766397961/
ibm-aspera-connect_4.2.13.820_win32_A.exe
radiology_mapping.csv
radiomic_features_CaPTk.zip
UPENN-GBM_acquisition.csv
UPENN-GBM_CaPTk_fe_params.csv
# UPENN-GBM_CaPTk_radiomic_features_list.csv
# UPENN-GBM_clinical_info_v2.1.csv
UPENN-GBM_data_availability.csv